    body{
        margin: 0;
    }
    a{
        color: black;
        text-decoration: none;
    }
    h1{
        text-align: center;
        font-size: 45px;
        border-bottom: solid 1px gray;
        padding: 20px;
        margin: 0;
    }
    ol{
        width: 100px;
        border-right: 1px solid gray;
        margin: 0;
        padding: 20px;  
    }
    #grid ol{
        padding-left: 33px;
    }
    #grid{
        display: grid;
        grid-template-columns: 150px 1fr;
    }
    #article{
        padding-left: 25px;
    }
    @media(max-width:800px){
        #grid{
            display: block;
        }
        h1{
            border-bottom: none;
        }
        ol{
            border-right: none;
        }
    }